:root {
    --text-color: #17212a;
    --text-container-color: #e4eff1;
    --background-color: #425769;
    --background-gradient: linear-gradient(25deg, #82BBC4 0%, #D6E7EA 100%);
    --border-color: #4D7880;
}
.container{
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "footer footer footer";
}
/* TOPO */
.nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    height: 5em;
    margin-bottom: 3em;
    padding: 2em;
    background-color: var(--background-color);
}
.nav__items{
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    justify-content: space-around;
    width: 100vw;
}
.nav__button, .nav__logo{
    width: 40px;
    cursor: pointer;
}
.nav__form{
    display: flex;
    align-items: center;
    background-color: #e4eff1;
    width: 15.5em;
    padding-inline-start: 0.5em;
    height: 2.7em;
    border-radius: 10px;
}
.nav__form__srcLogo{
   margin: 0.3em;
   width: 20px;
   cursor: pointer;
}
.nav__srcBar{
    background-color: #e4eff1;
    color: var(--text-color);
    padding: 0.3em;
    height: 3em;
    width: 15em;
    border: none;
    outline: none;
}
/* NOTÍCIAS PRINCIPAIS */
.main{
    grid-area: main;
    display: grid;
    justify-content: center;
    gap: 2.5em;
    grid-template-columns:  repeat(auto-fit, 380px);
    width: 90vw;
    margin: auto;
    grid-template-areas:
    "news__title news__title news__title" 
    "main__news__column-1 main__news__principal main__news__column-2";
}
.news__title{
    grid-area: news__title;
    height: 0.5em;
    margin: 0.5em auto;
}
.main__news__column-1, .main__news__column-2{
    display: grid;
    gap: 1em;
}
.main__news__column-1{
    grid-area: main__news__column-1;
}
.main__news__principal{
    grid-area: main__news__principal;
}
.main__news{
    margin: auto;
    padding: 1em;
    border-radius: 15px;
    transition: 0.6s;
}
.principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
    background: var(--background-gradient);
    border: 0.3em solid var(--border-color);
}
.aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    color: var(--text-container-color);
    background-color: var(--background-color);
    border: 0.3em solid var(--text-color);
}
.main__news__img{
    width: 100%;
    text-align: center;
}
.main__news:hover{
    transform: scale(1.1,1.1);
}
.hr{
    margin: 2.5em auto;
    width: 80vw;
    border: var(--background-color) 5px solid;
    border-radius: 50px;
}
/* OUTRAS NOTÍCIAS*/
#other__news--title{
    color: var(--text-color);
    width: max-content;
    margin: 1em auto;
    font-size: 40px;
}
.other__news--container{
    grid-area: other__news--container;
    display: grid;
    grid-template-areas: 
    "categories__news--sports categories__news--tech categories__news--games";
    padding: 1em;
    width: 90vw;
    height: 65vh;
    margin: auto;
    background-color: var(--background-color);
    border-radius: 15px;
}
.categories__news--sports, .categories__news--tech, .categories__news--games{
    margin: 0.5em auto;
    width: 27vw;
    display: grid;
    gap: 1em;
    overflow: scroll;
    -ms-overflow-style: none;
}
.categories__news--sports::-webkit-scrollbar, .categories__news--tech::-webkit-scrollbar, .categories__news--games::-webkit-scrollbar{
    display: none;
}
.categories__pic{
    text-align: center;
    width: 27vw;
}
.categories__logo{
    width: 26%;
}
.categories--title{
    width: 27vw;
    margin-bottom: 1em;
    color: var(--text-container-color);
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
.categories__news--item{
    cursor: pointer;
    color: var(--text-color);
    font-size: 24px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    width: 27vw;
    height: 37vh;
    justify-content: space-between;
    background: var(--background-gradient);
    border: var(--text-color) solid 2px;
    border-radius: 15px;
}
.news__img{
    align-self: center;
}
/* RODAPÉ */
.footer{
    grid-area: footer;
    text-align: center;
    margin-top: 5em;
    padding: 3em;
    background-color: var(--background-color);
    color: var(--text-container-color);
}
.footer__title{
    font-size: 30px;
    font-weight: 600;
}
.footer_desc{
    font-size: 24px;
}